@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.wrapper {
  width: 588px;
  height: 712px;
  margin-top: 56px;
  font-family: "Inter", sans-serif;
}

#profile-pic {
  margin-top: 24px;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 1px white solid;
} 

body.light #profile-pic {
  border: 1px black solid;
}

.wrapper p {
  color: white;
}

body.light .wrapper p {
  color: black;
}



.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav-buttons button {
  font-size: 16px;
  padding: 0px 24px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 56px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px)
}

body.light .nav-buttons button {
  font-size: 16px;
  padding: 0px 24px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 56px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px)
}


.socials {
  margin-top: 56px;
  display: flex;
  gap: 35px;
  justify-content: center;
}

.icon {
  display: inline-block;
  width: 24px;
  /* Defina o tamanho desejado */
  height: 24px;
  background-color: white;
  /* Cor padrão dos ícones */
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  margin-right: 10px;
  /* Espaçamento entre os ícones */
}

.icon-github {
  mask-image: url('../../../public/GitHub.svg');
}

.icon-instagram {
  mask-image: url('../../../public/Instagram.svg');
}

.icon-youtube {
  mask-image: url('../../../public/YouTube.svg');
}

.icon-linkedin {
  mask-image: url('../../../public/LinkedIn.svg');
}

/* Estilos para o modo claro */
body.light .icon {
  background-color: black;
}

#copy {
  margin-top: 48px;
}

#copy span {
  text-decoration: underline;
}